.tom-select-dropdown {
        background-color: #ffffff !important;
        border: 1px solid #d1d5db;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        border-radius: 0.375rem;
    }
    /* Jangan biarkan elemen flex wrap karena select panjang */
.flex-nowrap > * {
    min-width: 0;
}